 {
"trailingComma": "es5",
"tabWidth": 2,
"semi": true,
"singleQuote": false,
"printWidth": 120,
"importOrder": ["^components|^models",",^./(.*)", ",^../(.*)"],
"importOrderSeparation": true,
"importOrderSortSpecifiers": true
}
